table {
  table-layout: fixed;
}

thead th:nth-child(1) {
  width: 25px;
  text-align: left;
}

thead th:nth-child(2) {
  width: 500px;
  text-align: left;
}

thead th:nth-child(3) {
  width: 135px;
  text-align: left;
}

thead th:nth-child(4) {
  width: 135px;
  text-align: left;
}

thead th:nth-child(5) {
  width: 135px;
  text-align: left;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
